<div class='peteshow-sessions-wrapper'>
  <span>Sessions</span>
  <label>
    <input type='radio' name='peteshow-session' data-session='new' />
    New session
  </label>

  {{#if lastSession}}
    <label>
      <input type='radio' name='peteshow-session' data-session='last' />
      Last session
      <div class='peteshow-last-session'>
        <span>{{lastSessionName}}</span>
        <a href='#' class='toggle-save' data-action='toggle-save'>
          <svg class='icon-save'><use xlink:href='#icon-save'></use></svg>
        </a>
      </div>
    </label>
  {{/if}}

  {{#if sessions}}
    <div class='peteshow-session-list'>
      {{#each sessions}}
        <label>
          <input type='radio' name='peteshow-session' data-session='{{id}}' />
          {{title}}
          <a href='#' class='delete-session' data-action='delete-session' data-session='{{id}}'></a>
          <a href='#' class='print-console' data-action='print-console' data-session='{{id}}'></a>
        </label>
      {{/each}}
    </div>
  {{/if}}
</div>

<div class='peteshow-save-session'>
  <div class='peteshow-dialog'>Save last session</div>
  <div class='peteshow-title'>
    <span>Title</span>
    <input name='peteshow-title' type='text' value="{{lastSessionName}}"/>
    <div class='peteshow-info'>
      <a href='#' data-action='print-console' data-session='last'>Print to console <i></i></a>
      <a href='#' data-action='delete-session' data-session='last'>Delete session <i></i></a>
    </div>
  </div>
  <div class='peteshow-notes'>
    <span>Notes</span>
    <textarea name='peteshow-notes' />
  </div>
  <div class='peteshow-actions'>
    <a href='#' data-action='cancel-session'>Cancel</a>
    <a href='#' data-action='save-session'>Save</a>
  </div>
</div>
